*{
  background-color: #61dafb;
}

span{
  background: #e8e8df;
}

.Container{
  text-align: center;
  padding: 0rem 2rem;
}


h1 {
  background-color: antiquewhite;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  box-shadow: 10px 5px 5px #61dafb;
}

.info{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

p{
  padding: 1rem 9rem;
  border-radius: 12px;
  background-color: aqua;
  box-shadow: 5px 2.5px 2.5px #70868a;
}
  
img{
  width: auto;
  height: 50rem;
  margin: 1rem;
  padding: .75rem;
  border-radius: 1rem;
  background-color: #dbdbd5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
