*{
  background-color: #61dafb;
}

span{
  background: #e8e8df;
}

.Container{
  text-align: center;
  padding: 0rem 2rem;
}


h1 {
  background-color: antiquewhite;
  padding: 1rem 2.5rem;
  border-radius: 12px;
  box-shadow: 10px 5px 5px #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
